body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12pt;
  /*margin: 0;*/
}

h1,
h2 {
  font-weight: normal;
}

/* https://css-tricks.com/dont-overthink-it-grids/ */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='columns-'] {
  float: left;
}


[class*='columns-'] {
  padding-right: 20px;
}

[class*='columns-']:last-of-type {
  padding-right: 0;
}

.columns-1 { width:8.333333%;}
.columns-2 { width:16.66667%;}
.columns-3 { width:25%;}
.columns-4 { width:33.33333%;}
.columns-5 { width:41.66667%;}
.columns-6 { width:50%;}
.columns-7 { width:58.33333%;}
.columns-8 { width:66.66666%;}
.columns-9 { width:75%;}
.columns-10 { width:83.33334%;}
.columns-11 { width:91.66666%;}
.columns-12 { width:100%;}

h3 { clear: left; width:16.66667%; float: left; padding-right: 20px; }
p, h3 + * { width:83.33334%; float: left; }
p { margin-bottom: 0 }
/*h3 + *:after {content: "";
  display: table;
  clear: both; }
*/
hr {
  height: 5em;
  clear: both;
  float: none;
  border: none;
}

h1 {
  font-size: 3em;
}

ul {
  padding-left: 1em;
}

p.docstring code,
li.argument code
 {
  display: inline;
  background: none;
  font-size: 0.9em;
  padding: 0;
}

p.ns-doc {
  margin-bottom: 5em;
}

.var-content h2.name {
  font-size: 2em;
}

h2 {
  /*margin-top: 5em;*/
    clear: both;
  float: none;

}


div.highlighter-rouge {
  width: 70%;
  float: none;
  clear: both;
}

/*.var-details .examples */ pre {
  border: 1px solid #ddd;
  padding: 0.25em;
}

/*.var-details .examples */ a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.var-details .examples a:hover {
  border-bottom: 1px solid black;
}

.sidebar {
  font-size: 0.9em;
  padding: 1em;
  position: fixed;
  overflow: scroll;
  height: 100%;
}

.sidebar ul {
  padding-left: 0;
  list-style: none;
}

.sidebar ul ul {
  padding-left: 1em;
}

.sidebar ul li {
  margin-bottom: 0.2em;
}

.sidebar ul li a {
  color: #777;
  text-decoration: none;
}

.sidebar ul li a.current,
.sidebar ul li ul.current a {
  color: black;
}

#footer {
  text-align: center;
  padding: 2em;
}